html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FAFAFA;
    color: #1E293B;
}
.header{
    background: #2E3440;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    color: white;
}
.profile-pic{
    width: 110px;
    height: 140px;
    object-fit: cover;
    border: 3px solid #ffffff;
    border-radius: 6px;
}
.header h1{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}
.left{
    height: 100vh;
    background: #F2EBDD;
    padding: 20px;
    box-sizing: border-box;
}
.left h3{
    margin-top: 25px;
    margin-bottom: 12px;
    color: #2B2F3A;
}
.left a{
    display: block;
    margin-bottom: 12px;
    padding: 10px 12px;
    background: #cecece;
    color: #1E293B;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;

}
.left a:hover{
    background: #d5d9df;
}
body h2{
    color: #2B2F3A;
    margin-top: 0;
}
body h3{
    color: #2B2F3A;
}
body p{
    line-height: 1.6;
    font-size: 15px;
}
.about-right{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
